DISCORD_TOKEN=your-discord-bot-token
API_URL="http://localhost:3000" # Link to the Weights Unofficial API here (more infos on https://github.com/fox3000foxy/weights.gg-api)
API_KEY=an-x-api-key-here # The same API key you use to access the Weights Unofficial API